# Home Assistant
*.storage/
__pycache__/
home-assistant_v2.db
home-assistant.log
*.db-shm
*.db-wal
*.sqlite
*.log

# Blueprints / temp files
*.bak
*.tmp
*.old
*.orig
*.yaml.save

# VSCode
.vscode/
.history/
*.code-workspace

# macOS / Windows
.DS_Store
Thumbs.db
desktop.ini

# Python virtual environments
venv/
.env/
.venv/

# Git
.gitignore
